.header {
    padding: 1.5rem 0;
    &__container {
        width: 90%;
        margin: auto;
        display: flex;
        // grid-template-columns: 0.1fr 3fr;
        justify-content: space-between;
    }

    &__options {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-gap: 1.2rem;

        &__option {
            font-size: 1rem;
            transition: all 0.1s ease-in-out;
            font-weight: 500;
            
            &:hover {
                padding-bottom : 3px;
                border-bottom: 2px royalblue solid ;
            }
        }
    }

    border-bottom: 1px lightgrey solid;

}


.link {
    text-decoration: none;
    color: black;
}

.logout {
    cursor: pointer;
    font-size: 1.02rem;
}