.notes {
    margin-top : 2rem;
    height: 70vh;
    margin-bottom: 3rem;

    .container {
        width: 85%;
        margin: auto;
        border: 1px solid lightgrey;
        padding: 1rem;
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows : repeat(5,1fr);
        overflow: scroll;

    }
}